/* #########################################################電腦版框架################################################################ */
body {
	background-color: black;
	-ms-overflow-style: none; /* for Internet Explorer, Edge */
	scrollbar-width: none; /* for Firefox */
	overflow-y: scroll; 
}

body::-webkit-scrollbar {
	display: none; /* for Chrome, Safari, and Opera */
}

html {
   height: 100 % ;
}

txt {
	color: green;
}

h1 {
	text-align: center;
	color: white;
}

h2 {
	text-align: center;
	color: white;
}

h3 {
	text-align: center;
	color: white;
}

h4 {
	text-align: center;
	color: white;
}

h5 {
	text-align: center;
	color: white;
}

h6 {
	text-align: center;
	color: white;
}
td {
	text-align: center;
	color: #90EE90;
}

th {
	text-align: center;
	color: #90EE90;
}

p {
	text-align: center;
	color: #90EE90;
}

img{
	width: auto;
	height: auto;
    max-width:50%;
    max-height: 50%;
}

.center {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.top {
	margin: 30% auto 0%;
}

.left {
	float: left;
	margin-left: 15%;
}

.right {
	float: right;
	margin-right: 15%;
}


#DIV1{
	text-align: center;
	width:100px;
	line-height:5px;
	padding:15px 0px;
	border:1px green solid;
	float:left;
}

#DIV2{
	text-align: center;
	width:100px;
	line-height:5px;
	padding:15px 0px;
	border:1px green solid;
	float:right;
}

#DIV3{
	text-align: center;
	width:200px;
	line-height:5px;
	padding:15px 0px;
	border:0px green solid;
	margin-left: -200px;
	float:right;
}

canvas { 
	background: gray; 
}
/* #########################################################上排列表################################################################ */
.container {
	width: 80%;
	margin: 0 auto;
}

header {
	background: #55d6aa;
}

header::after {
	content: '';
	display: table;
	clear: both;
}

.logo {
	float: left;
  	height: 60px;
	width: 190px;
	padding: 10px 0;
	margin-left: -10%;
    max-width:50%;
    max-height: 50%;
}

nav {
	float: right;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 23px;

  position: relative;
}

nav a {
  color: #444;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 25px;
}

nav a:hover {
  color: #000;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #444;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}

hr.split {
    border: 0;
    height: 6px;
    background-image: linear-gradient(to right, rgba(0,0,0,0), rgba(255,255,255,0.75), rgba(0,0,0,0));
}

/* #########################################################電影特效################################################################ */

.main-content {
  overflow:hidden;
    position: relative;
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    
    height: 100vh;
    
    background: linear-gradient(to right, rgba(36,31,31,1) 0%, rgba(36,31,31,1) 32%, rgba(74,71,70,1) 100%);
    color: #fff;
    text-align: center;
}

.vignette{
  position:absolute;
  width:100%; height:100%;
  box-shadow:inset 0px 0px 150px 20px black;
  mix-blend-mode: multiply;
  -webkit-animation: vignette-anim 3s infinite; /* Safari 4+ */
  -moz-animation:    vignette-anim 3s infinite; /* Fx 5+ */
  -o-animation:      vignette-anim 3s infinite; /* Opera 12+ */
  animation:         vignette-anim 3s infinite; /* IE 10+, Fx 29+ */
}

.noise {
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
    
    width: 100%;
    height: 100%;
    
    pointer-events: none;
    opacity: .15;
}

.line{
  position:absolute;
  height:100%; width:1px;
  opacity:0.1;
  background-color:#000;
}

.titleCont{position:relative;}

.main-title {
    padding: .3em 1em .25em;    
    font-weight: 400;
    font-size: 40px;
    color: white;
    font-family: 'Bellefair', serif;
    position:relative;
    line-height:1.3;
    white-spacing:
}

.overTitle{
    position:absolute;
    top:0;
    left:0;
}

.dot{
  width:3px;
  height:2px;
  background-color:white;
  position:absolute;
  opacity:0.3;
}


@-webkit-keyframes vignette-anim {
  0%   , 100%{ opacity: 1; }
  50% { opacity: 0.7; }
}
@-moz-keyframes vignette-anim {
  0%   , 100%{ opacity: 1; }
  50% { opacity: 0.7; }
}
@-o-keyframes vignette-anim {
  0%   , 100%{ opacity: 1; }
  50% { opacity: 0.7; }
}
@keyframes vignette-anim {
  0%   , 100%{ opacity: 1; }
  50% { opacity: 0.7; }
}

/* #########################################################蒙特賽拉特效################################################################ */
.container2 {
	display: flex;
	height: 100%;
	align-items: center;
}
svg {
    display: block;
    font: 10.5em 'Montserrat';
    width: 960px;
    height: 300px;
    margin: 0 auto;
}

.text-copy {
    fill: none;
    stroke: white;
    stroke-dasharray: 6% 29%;
    stroke-width: 5px;
    stroke-dashoffset: 0%;
    animation: stroke-offset 5.5s infinite linear;
}

.text-copy:nth-child(1){
	stroke: #4D163D;
	animation-delay: -1;
}

.text-copy:nth-child(2){
	stroke: #840037;
	animation-delay: -2s;
}

.text-copy:nth-child(3){
	stroke: #BD0034;
	animation-delay: -3s;
}

.text-copy:nth-child(4){
	stroke: #BD0034;
	animation-delay: -4s;
}

.text-copy:nth-child(5){
	stroke: #FDB731;
	animation-delay: -5s;
}

@keyframes stroke-offset{
	100% {stroke-dashoffset: -35%;}
}
/* #########################################################輸入文字特效################################################################ */

.typing-txt-block {
	height: 15vh;
	display: block;
	background-image: url("./bg.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

.typing-txt-block.bg-animation {
	-webkit-animation: bg-animation 20s ease-in-out infinite;
	animation: bg-animation 20s ease-in-out infinite;
}

@keyframes bg-animation {
	0% {
		background-position: top;
	}
	50% {
		background-position: bottom;
	}
	100% {
		background-position: top;
	}
}

.typing-txt-block .container h1 {
	position: absolute;
	left: 50%;
	top: 20%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-transform: uppercase;
	margin: 0;
	padding: 0;
	letter-spacing: 5px;
	color: transparent;
}

.typing-txt-block .container h1::before {
	content: attr(data-text);
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	color: #fff;
	overflow: hidden;
	border-right: 1px solid #ffffff;
	animation: type 3s steps(18), blink 0.5s infinite alternate;
	-webkit-animation: type 3s steps(18), blink 0.5s infinite alternate;
	white-space: nowrap;
}

@keyframes type {
	0% {
		width: 0%;
	}
	100% {
		width: 100%;
	}
}

@keyframes blink {
	from {
		border-color: transparent;
	}
	to {
		border-color: #ffffff;
	}
}

/* #########################################################RWD響應式頁面################################################################ */
@media (max-width: 576px)	{
	.typing-txt-block .container h1	{
		position: absolute;
		top: 25px;
		font-size:100%;
	}
	.typing-txt-block{
		position: relative;
		height: 45px;
	}
	nav li {
		text-align: center;
	}
	nav ul {
		display: none;
		columns: 1;
		-webkit-columns: 1;
		-moz-columns: 1;
	}
	.container2 {
		display: flex;
		height: 100%;
		align-items: center;
	}
	svg {
		display: block;
		font: 10.5em 'Montserrat';
		width: 360px;
		height: 100px;
		margin: 0 auto;
	}
	h1 {
		margin: 10% auto;
	}
	.left {
		float: center;
	}
	.right {
		float: center;
	}
	img{
		width: auto;
		height: auto;
		max-width: 100%;
		max-height: 100%;
	}
}


