/* #########################################################電腦版框架################################################################ */
body {
	background-color: black;
	-ms-overflow-style: none; /* for Internet Explorer, Edge */
	scrollbar-width: none; /* for Firefox */
	overflow-y: scroll; 
	overflow-x: hidden;
    height: 100%;
}

body::-webkit-scrollbar {
	display: none; /* for Chrome, Safari, and Opera */
}

html {
	height: 100 % ;
}

txt {
	color: green;
}

h1 {
	text-align: center;
	color: white;
}

h2 {
	text-align: center;
	color: white;
}

h3 {
	text-align: center;
	color: white;
}

h4 {
	text-align: center;
	color: white;
}

h5 {
	text-align: center;
	color: white;
}

h6 {
	text-align: center;
	color: white;
}
td {
	text-align: center;
	color: #90EE90;
}

th {
	text-align: center;
	color: #90EE90;
}

p {
	text-align: center;
	color: #90EE90;
}

img{
	width: auto;
	height: auto;
    max-width:100%;
    max-height: 100%;
}

hr.split {
    border: 0;
    height: 6px;
    background-image: linear-gradient(to right, rgba(0,0,0,0), rgba(255,255,255,0.75), rgba(0,0,0,0));
}

.center {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.top {
	margin: 30% auto 0%;
}

.left {
	float: left;
	margin-left: 0%;
}

.right {
	float: right;
	margin-right: 0%;
}


#DIV1{
	text-align: center;
	width:100px;
	line-height:5px;
	padding:15px 0px;
	border:1px green solid;
	float:left;
}

#DIV2{
	text-align: center;
	width:100px;
	line-height:5px;
	padding:15px 0px;
	border:1px green solid;
	float:right;
}

#DIV3{
	text-align: center;
	width:200px;
	line-height:5px;
	padding:15px 0px;
	border:0px green solid;
	margin-left: -200px;
	float:right;
}

canvas { 
	background: gray; 
}

section
{
	width: 20%; 
    margin-right:auto;
    margin-left:auto;
}

/* #########################################################上排列表################################################################ */
.showmenu{
  display: none;
}

.container3 {
	width: 80%;
	margin: 0 auto;
}

.menu {
	float:right;
}

.menu li {
	float: left;
	display: inline-block;
	margin-left: 70px;
	padding-top: 23px;
	position: relative;
}

.menu li a {
	display: block;
	color: #444;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 25px;
}



header {
	background: #55d6aa;
}

header::after {
	content: '';
	display: table;
	clear: both;
}

.logo {

	float: left;
  	height: 60px;
	width: 190px;
	padding: 10px 0;
	margin-left: -5%;
    max-width:50%;
    max-height: 50%;
}

ol, ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.menu li a::before {
	content: '';
	display: block;
	height: 5px;
	background-color: #444;

	position: absolute;
	top: 0;
	width: 0%;

	transition: all ease-in-out 250ms;
}

.menu li a:hover::before {
	width: 100%;
}

.content{
	padding: 1em;
	line-height: 1.8;
}

.content p{
	margin-bottom: 1em;
}

/* #########################################################蒙特賽拉特效################################################################ */
.container2 {
	display: flex;
	height: 100%;
	align-items: center;
}

svg {
    display: block;
    font: 15em 'Montserrat';
    width: 960px;
    height: 200px;
    margin: 0 auto;
}

.text-copy {
    fill: none;
    stroke: white;
    stroke-dasharray: 6% 29%;
    stroke-width: 5px;
    stroke-dashoffset: 0%;
    animation: stroke-offset 5.5s infinite linear;
}

.text-copy:nth-child(1){
	stroke: #4D163D;
	animation-delay: -1;
}

.text-copy:nth-child(2){
	stroke: #840037;
	animation-delay: -2s;
}

.text-copy:nth-child(3){
	stroke: #BD0034;
	animation-delay: -3s;
}

.text-copy:nth-child(4){
	stroke: #BD0034;
	animation-delay: -4s;
}

.text-copy:nth-child(5){
	stroke: #FDB731;
	animation-delay: -5s;
}

@keyframes stroke-offset{
	100% {stroke-dashoffset: -35%;}
}
/* #########################################################輸入文字特效################################################################ */

.container {
	width: 80%;
	margin: 0 auto;
}

.typing-txt-block {
	height: 15vh;
	display: block;
	background-image: url("./bg.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

.typing-txt-block.bg-animation {
	-webkit-animation: bg-animation 20s ease-in-out infinite;
	animation: bg-animation 20s ease-in-out infinite;
}

@keyframes bg-animation {
	0% {
		background-position: top;
	}
	50% {
		background-position: bottom;
	}
	100% {
		background-position: top;
	}
}

.typing-txt-block .container h1 {
	position: absolute;
	left: 50%;
	top: 20%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-transform: uppercase;
	margin: 0;
	padding: 0;
	letter-spacing: 5px;
	color: transparent;
}

.typing-txt-block .container h1::before {
	content: attr(data-text);
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	color: #fff;
	overflow: hidden;
	border-right: 1px solid #ffffff;
	animation: type 3s steps(18), blink 0.5s infinite alternate;
	-webkit-animation: type 3s steps(18), blink 0.5s infinite alternate;
	white-space: nowrap;
}

@keyframes type {
	0% {
		width: 0%;
	}
	100% {
		width: 100%;
	}
}

@keyframes blink {
	from {
		border-color: transparent;
	}
	to {
		border-color: #ffffff;
	}
}
/* #########################################################solarsystem################################################################ */

:root 
{
    --dark-color: rgb(0,0,0);
    --glossy-red: rgba(238, 17, 17, 1);
    --hidden-red: rgba(238, 17, 17, 0);
    --light-red: rgba(238, 17, 17, .5);
    --paths-theme: var(--very-light-red) var(--glossy-red);
    --planets-theme: var(--light-red) var(--light-red) var(--light-red) var(--glossy-red); 
    --very-light-red: rgba(238, 17, 17, .25);
}

*, *::after, *::before
{
    -webkit-box-sizing: content-box;
       -moz-box-sizing: content-box;
            box-sizing: content-box;
}


body #solar-system
{
    display: flex;
    width: 100vw;
    height: 70vh;

    -webkit-transform: skewX(-45deg);
       -moz-transform: skewX(-45deg);
        -ms-transform: skewX(-45deg);
         -o-transform: skewX(-45deg);
            transform: skewX(-45deg);
    -webkit-transform-origin: center;
       -moz-transform-origin: center;
        -ms-transform-origin: center;
         -o-transform-origin: center;
            transform-origin: center;

    justify-content: center;
    align-items: center;
}

/* ⚠ size of the sun is not respected here */
section #sun
{

    position: fixed;
    z-index: 100;
    /* ✑ real radius of the sun: 696340km */

    width: 174.085px; /* ✑ 40* too small compared to the #planets{} dimensions values */
    height: 174.085px;

    -webkit-transform: skewX(45deg);
       -moz-transform: skewX(45deg);
        -ms-transform: skewX(45deg);
         -o-transform: skewX(45deg);
            transform: skewX(45deg);

    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
            background: var(--glossy-red);
            background: linear-gradient(135deg, var(--glossy-red) 20%, var(--hidden-red) 100%);

    -webkit-background: linear-gradient(135deg, var(--glossy-red) 20%, var(--hidden-red) 100%);
       -moz-background: linear-gradient(135deg, var(--glossy-red) 20%, var(--hidden-red) 100%);
         -o-background: linear-gradient(135deg, var(--glossy-red) 20%, var(--hidden-red) 100%);
        -ms-background: linear-gradient(135deg, var(--glossy-red) 20%, var(--hidden-red) 100%);
            filter: drop-shadow(0 0 2rem var(--glossy-red)) blur(1px);
    -webkit-filter: drop-shadow(0 0 2rem var(--glossy-red)) blur(1px);
       -moz-filter: drop-shadow(0 0 2rem var(--glossy-red)) blur(1px);
         -o-filter: drop-shadow(0 0 2rem var(--glossy-red)) blur(1px);
        -ms-filter: drop-shadow(0 0 2rem var(--glossy-red)) blur(1px);
}

/* planets */
article #mercury
{
    position: fixed;
    z-index: 99;
    top: 38px;

    display: flex;

    width: 24.397px; /* ✑ real radius of mercury: 24397km */
    height: 24.397px;
    /* ✑ rotation period of mercury: 58.645 days */

    -webkit-animation: planets-rotation 29.3225s linear infinite;
       -moz-animation: planets-rotation 29.3225s linear infinite;
        -ms-animation: planets-rotation 29.3225s linear infinite;
         -o-animation: planets-rotation 29.3225s linear infinite;
            animation: planets-rotation 29.3225s linear infinite;

    border-width: 2px;
    border-style: solid;
    border-color: var(--planets-theme);
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
    background: var(--hidden-red);

    justify-content: center;
    align-items: center;
}
article #venus
{
    position: fixed;
    z-index: 99;
    top: 15px;

    display: flex;

    width: 60.518px; /* ✑ real radius of venus: 60518km */
    height: 60.518px;
    /* ✑ rotation period of venus 243.023 days */

    -webkit-animation: planets-rotation 121.513s linear infinite;
       -moz-animation: planets-rotation 121.513s linear infinite;
        -ms-animation: planets-rotation 121.513s linear infinite;
         -o-animation: planets-rotation 121.513s linear infinite;
            animation: planets-rotation 121.513s linear infinite;

    border-width: 2px;
    border-style: solid;
    border-color: var(--planets-theme);
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
    background: var(--hidden-red);

    justify-content: center;
    align-items: center;
}
article #earth
{
    position: fixed;
    z-index: 99;
    top: 35px;

    display: flex;

    width: 63.71px; /* ✑ real radius of the earth: 6371km */
    height: 63.71px;
    /* ✑ animation-duration: .5s = 24hours on earth */

    -webkit-animation: planets-rotation .4874s linear infinite;
       -moz-animation: planets-rotation .4874s linear infinite;
        -ms-animation: planets-rotation .4874s linear infinite;
         -o-animation: planets-rotation .4874s linear infinite;
            animation: planets-rotation .4874s linear infinite;

    border-width: 2px;
    border-style: solid;
    border-color: var(--planets-theme);
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
    background: var(--hidden-red);

    justify-content: center;
    align-items: center;
}
article #earth::after
{
    position: inherit;

    width: 40%;
    height: 40%;

    content: '';
    -webkit-animation: earth-blinking 2s linear infinite;
       -moz-animation: earth-blinking 2s linear infinite;
        -ms-animation: earth-blinking 2s linear infinite;
         -o-animation: earth-blinking 2s linear infinite;
            animation: earth-blinking 2s linear infinite;

    -webkit-border-radius: inherit;
       -moz-border-radius: inherit;
            border-radius: inherit;
    background: var(--glossy-red);

    -webkit-filter: drop-shadow(0 0 .3rem var(--light-red)) blur(.5px);
       -moz-filter: drop-shadow(0 0 .3rem var(--light-red)) blur(.5px);
         -o-filter: drop-shadow(0 0 .3rem var(--light-red)) blur(.5px);
        -ms-filter: drop-shadow(0 0 .3rem var(--light-red)) blur(.5px);
            filter: drop-shadow(0 0 .3rem var(--light-red)) blur(.5px);
}
article #mars
{
    position: fixed;
    z-index: 99;
    top: 288px;

    display: flex;

    width: 33.895px; /* ✑ real radius of mars: 33895km */
    height: 33.895px;
    /* ✑ animation-duration: .5s = 24hours on earth */

    -webkit-animation: planets-rotation .5128s linear infinite;
       -moz-animation: planets-rotation .5128s linear infinite;
        -ms-animation: planets-rotation .5128s linear infinite;
         -o-animation: planets-rotation .5128s linear infinite;
            animation: planets-rotation .5128s linear infinite;

    border-width: 2px;
    border-style: solid;
    border-color: var(--planets-theme);
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
    background: var(--hidden-red);

    justify-content: center;
    align-items: center;
}
article #mars::after,
article #venus::after,
article #mercury::after
{
    width: 40%;
    height: 40%;

    content: '';

    -webkit-border-radius: inherit;
       -moz-border-radius: inherit;
            border-radius: inherit;
    background: var(--glossy-red);

    -webkit-filter: drop-shadow(0 0 .3rem var(--light-red)) blur(.5px);
       -moz-filter: drop-shadow(0 0 .3rem var(--light-red)) blur(.5px);
         -o-filter: drop-shadow(0 0 .3rem var(--light-red)) blur(.5px);
        -ms-filter: drop-shadow(0 0 .3rem var(--light-red)) blur(.5px);
            filter: drop-shadow(0 0 .3rem var(--light-red)) blur(.5px);
}

/* planets trajectory's
⚠ the distances between the planets and the sun are not respected here because of the diameter ot it */
section #mercury-trajectory
{
    position: fixed;
    z-index: 98;

    width: 203.085px; /* ✑ non-proportional */
    height: 203.085px;
    /* ✑ revolution of mercury: 87.969 days */

    -webkit-animation: solar-revolution 43.9845s linear infinite;
       -moz-animation: solar-revolution 43.9845s linear infinite;
        -ms-animation: solar-revolution 43.9845s linear infinite;
         -o-animation: solar-revolution 43.9845s linear infinite;
            animation: solar-revolution 43.9845s linear infinite;

    border-width: 2px;
    border-style: solid;
    border-color: var(--paths-theme);
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
}
section #venus-trajectory
{
    position: fixed;
    z-index: 98;

    width: 257.085px; /* ✑ non-proportional */
    height: 257.085px;
    /* ✑ revolution of venus: 224.667 days */

    -webkit-animation: solar-revolution 112.3335s linear infinite;
       -moz-animation: solar-revolution 112.3335s linear infinite;
        -ms-animation: solar-revolution 112.3335s linear infinite;
         -o-animation: solar-revolution 112.3335s linear infinite;
            animation: solar-revolution 112.3335s linear infinite;

    border-width: 2px;
    border-style: solid;
    border-color: var(--paths-theme);
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
}
section #earth-trajectory
{
    position: fixed;
    z-index: 98;

    width: 332.085px; /* ✑ non-proportional */
    height: 332.085px;
    /* ✑ revolution of the earth: 365.2422 days */

    -webkit-animation: solar-revolution 182.6211s linear infinite;
       -moz-animation: solar-revolution 182.6211s linear infinite;
        -ms-animation: solar-revolution 182.6211s linear infinite;
         -o-animation: solar-revolution 182.6211s linear infinite;
            animation: solar-revolution 182.6211s linear infinite;

    border-width: 2px;
    border-style: solid;
    border-color: var(--paths-theme);
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
}
section #mars-trajectory
{
    position: fixed;
    z-index: 98;

    width: 446.085px; /* ✑ non-proportional */
    height: 446.085px;
    /* ✑ revolution of mars: 686.885 days */

    -webkit-animation: solar-revolution 343.4425s linear infinite;
       -moz-animation: solar-revolution 343.4425s linear infinite;
        -ms-animation: solar-revolution 343.4425s linear infinite;
         -o-animation: solar-revolution 343.4425s linear infinite;
            animation: solar-revolution 343.4425s linear infinite;

    border-width: 2px;
    border-style: solid;
    border-color: var(--paths-theme);
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
}

/*
▀▄▀▄▀▄▀▄▀▄▀▄ ANIMATIONS ▀▄▀▄▀▄▀▄▀▄▀▄
*/

@keyframes solar-revolution
{
    to
    {
        transform: rotate(360deg) ;
    }
}

@keyframes planets-rotation
{
    to
    {
        transform: rotate(360deg) ;
    }
}
@keyframes earth-blinking
{
    from
    {
        background-color: var(--glossy-red);

        filter: drop-shadow(0 0 .3rem var(--light-red)) blur(.5px);
    }
    to
    {
        background-color: var(--dark-color);

        filter: drop-shadow(0 0 0 var(--light-red)) blur(0);
    }
}

/* media queries
smartphone*/
@media only screen and (max-width: 768px)
{
    section #sun
    {
        width: 87.0425px;
        height: 87.0425px;
    }
    section #mercury-trajectory
    {
        width: 101.5425px;
        height: 101.5425px;
    }
    article #mercury
    {
        top: 17px;

        width: 12.1985px;
        height: 12.1985px;
    }
    section #venus-trajectory
    {
        width: 128.5425px;
        height: 128.5425px;
    }
    article #venus
    {
        top: 6px;

        width: 30.259px;
        height: 30.259px;
    }
    section #earth-trajectory
    {
        width: 166.0425px;
        height: 166.0425px;
    }
    article #earth
    {
        top: 16px;

        width: 31.855px;
        height: 31.855px;
    }
    section #mars-trajectory
    {
        width: 223.0425px;
        height: 223.0425px;
    }
    article #mars
    {
        top: 56px;

        width: 16.9475px;
        height: 16.9475px;
    }
}

/* 4K Ultra HD */
@media only screen and (min-width: 1921px)
{
    section #sun
    {
        width: 348.17px;
        height: 348.17px;
    }
    section #mercury-trajectory
    {
        width: 406.17px;
        height: 406.17px;
    }
    article #mercury
    {
        top: 82px;

        width: 48.794px; /* ✑ real diameter of mercury: 4879.4km*/
        height: 48.794px;
    }
    section #venus-trajectory
    {
        width: 514.17px;
        height: 514.17px;
    }
    article #venus
    {
        top: 28px;

        width: 121.036px; /* ✑ real diameter of venus: 12103.6km */
        height: 121.036px;
    }
    section #earth-trajectory
    {
        width: 664.17px;
        height: 664.17px;
    }
    article #earth
    {
        top: 68px;

        width: 127.42px; /* ✑ real diameter of the earth: 12742km */
        height: 127.42px;
    }
    section #mars-trajectory
    {
        width: 892.14px;
        height: 892.14px;
    }
    article #mars
    {
        top: 242px;

        width: 67.79px; /* ✑ real diameter of mars: 6779km */
        height: 67.79px;
    }
}
/*
8K Ultra HD ...(*￣０￣)ノ
@media only screen and (min-width: 3841px) {}
*/

/* #########################################################魔術方塊################################################################ */
#cube-container{
    position: absolute;
    cursor: -webkit-grab;
}

#cube-viewport{
    -webkit-perspective: 800px;
    -moz-perspective: 800px;
    -o-perspective: 800px;
    
    -webkit-perspective-origin: 50% 200px;
    -moz-perspective-origin: 50% 200px;
    -o-perspective-origin: 800px;
}

#cube{
    position: relative;
    height: 400px;
    width: 400px;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
}

#cube-controls{
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
   
#cube .cubie{
    position:absolute;
    margin: 1px;
    border: 3px solid black;
    border-radius: 15px;
    width:  100px;
    height: 100px;
    background-size:100px;
    opacity: 1;
    z-index: -1;
    text-align: center;
    font-size:30px;    
}

#cube .cubie > div{
    line-height: 100px;
    border-radius: 8px;
	
}
#cube .cubie > div span{
    visibility: hidden;
}

#control{
	position: relative;
	top:550px;
	height:150px; 
}
select{
	z-index:-1;
}
select option{
	z-index:-1;
}

/* CUBIE COLORS*/
#cube .cubie > div.yellow {
background-image: linear-gradient(top, rgb(255,232,54) 30%, rgb(214,214,34) 65%, rgb(184,184,24) 83%);
background-image: -o-linear-gradient(top, rgb(255,232,54) 30%, rgb(214,214,34) 65%, rgb(184,184,24) 83%);
background-image: -moz-linear-gradient(top, rgb(255,232,54) 30%, rgb(214,214,34) 65%, rgb(184,184,24) 83%);
background-image: -webkit-linear-gradient(top, rgb(255,232,54) 30%, rgb(214,214,34) 65%, rgb(184,184,24) 83%);
background-image: -ms-linear-gradient(top, rgb(255,232,54) 30%, rgb(214,214,34) 65%, rgb(184,184,24) 83%);

background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.3, rgb(255,232,54)),
    color-stop(0.65, rgb(214,214,34)),
    color-stop(0.83, rgb(184,184,24))
);

}

#cube .cubie > div.red {
background-image: linear-gradient(top, rgb(255,56,56) 30%, rgb(212,36,36) 65%, rgb(161,27,27) 83%);
background-image: -o-linear-gradient(top, rgb(255,56,56) 30%, rgb(212,36,36) 65%, rgb(161,27,27) 83%);
background-image: -moz-linear-gradient(top, rgb(255,56,56) 30%, rgb(212,36,36) 65%, rgb(161,27,27) 83%);
background-image: -webkit-linear-gradient(top, rgb(255,56,56) 30%, rgb(212,36,36) 65%, rgb(161,27,27) 83%);
background-image: -ms-linear-gradient(top, rgb(255,56,56) 30%, rgb(212,36,36) 65%, rgb(161,27,27) 83%);
background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.3, rgb(255,56,56)),
    color-stop(0.65, rgb(212,36,36)),
    color-stop(0.83, rgb(161,27,27))
);
}
#cube .cubie > div.orange {
background-image: linear-gradient(top, rgb(255,159,56) 30%, rgb(212,141,36) 65%, rgb(161,111,26) 83%);
background-image: -o-linear-gradient(top, rgb(255,159,56) 30%, rgb(212,141,36) 65%, rgb(161,111,26) 83%);
background-image: -moz-linear-gradient(top, rgb(255,159,56) 30%, rgb(212,141,36) 65%, rgb(161,111,26) 83%);
background-image: -webkit-linear-gradient(top, rgb(255,159,56) 30%, rgb(212,141,36) 65%, rgb(161,111,26) 83%);
background-image: -ms-linear-gradient(top, rgb(255,159,56) 30%, rgb(212,141,36) 65%, rgb(161,111,26) 83%);
background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.3, rgb(255,159,56)),
    color-stop(0.65, rgb(212,141,36)),
    color-stop(0.83, rgb(161,111,26))
);
}
#cube .cubie > div.green {
background-image: linear-gradient(top, rgb(16,122,9) 11%, rgb(71,204,41) 56%, rgb(87,255,61) 78%);
background-image: -o-linear-gradient(top, rgb(16,122,9) 11%, rgb(71,204,41) 56%, rgb(87,255,61) 78%);
background-image: -moz-linear-gradient(top, rgb(16,122,9) 11%, rgb(71,204,41) 56%, rgb(87,255,61) 78%);
background-image: -webkit-linear-gradient(top, rgb(16,122,9) 11%, rgb(71,204,41) 56%, rgb(87,255,61) 78%);
background-image: -ms-linear-gradient(top, rgb(16,122,9) 11%, rgb(71,204,41) 56%, rgb(87,255,61) 78%);

background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.11, rgb(16,122,9)),
    color-stop(0.56, rgb(71,204,41)),
    color-stop(0.78, rgb(87,255,61))
);

}
#cube .cubie > div.blue {
background-image: linear-gradient(top, rgb(86,56,255) 30%, rgb(62,36,212) 65%, rgb(42,26,163) 83%);
background-image: -o-linear-gradient(top, rgb(86,56,255) 30%, rgb(62,36,212) 65%, rgb(42,26,163) 83%);
background-image: -moz-linear-gradient(top, rgb(86,56,255) 30%, rgb(62,36,212) 65%, rgb(42,26,163) 83%);
background-image: -webkit-linear-gradient(top, rgb(86,56,255) 30%, rgb(62,36,212) 65%, rgb(42,26,163) 83%);
background-image: -ms-linear-gradient(top, rgb(86,56,255) 30%, rgb(62,36,212) 65%, rgb(42,26,163) 83%);

background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.3, rgb(86,56,255)),
    color-stop(0.65, rgb(62,36,212)),
    color-stop(0.83, rgb(42,26,163))
);
}
#cube .cubie > div.white {
    background-image: linear-gradient(top, rgb(143,143,143) 11%, rgb(255,255,255) 56%, rgb(255,255,255) 78%);
background-image: -o-linear-gradient(top, rgb(143,143,143) 11%, rgb(255,255,255) 56%, rgb(255,255,255) 78%);
background-image: -moz-linear-gradient(top, rgb(143,143,143) 11%, rgb(255,255,255) 56%, rgb(255,255,255) 78%);
background-image: -webkit-linear-gradient(top, rgb(143,143,143) 11%, rgb(255,255,255) 56%, rgb(255,255,255) 78%);
background-image: -ms-linear-gradient(top, rgb(143,143,143) 11%, rgb(255,255,255) 56%, rgb(255,255,255) 78%);

background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.11, rgb(143,143,143)),
    color-stop(0.56, rgb(255,255,255)),
    color-stop(0.78, rgb(255,255,255))
);
}
/* TEXT ROTATIONS */
.textLeft{-webkit-transform: rotate(-90deg)}
.textDown{-webkit-transform: rotate(-180deg)}
.textRight{-webkit-transform: rotate(90deg)}


/* PLANES & ROTATIONS */

#plane{
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.moving {
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
}

/*PLANE M */
.M-left {
    -webkit-transform-origin: 0px 200px;
    -webkit-transform:rotateX(90deg);
    -moz-transform-origin: 0px 200px;
    -moz-transform:rotateX(90deg);
}
.M-right {
    -webkit-transform-origin: 0px 200px;
    -webkit-transform:rotateX(-90deg);
    -moz-transform-origin: 0px 200px;
    -moz-transform:rotateX(-90deg);
}

/*PLANE E */
.E-right {
    -webkit-transform:rotateY(90deg);
    -moz-transform:rotateY(90deg)
    }
.E-left {
    -webkit-transform:rotateY(-90deg);
    -moz-transform:rotateY(-90deg)
}

/*PLANE S */
.S-left {
    -webkit-transform-origin: 200px 200px;
    -webkit-transform:rotateZ(-90deg);
    -moz-transform-origin: 200px 200px;
    -moz-transform:rotateZ(-90deg);
}
.S-right {
    -webkit-transform-origin: 200px 200px;
    -webkit-transform:rotateZ(90deg);
    -moz-transform-origin: 200px 200px;
    -moz-transform:rotateZ(90deg);
}

/* CUBIES POSITIONS*/

/*UP FACE CUBIES*/
.utl {
    -webkit-transform:rotateX(90deg) translate3d(50px,-100px,0);
    -moz-transform:rotateX(90deg) translate3d(50px,-100px,0);
}
.ucl {
    -webkit-transform:rotateX(90deg) translate3d(50px,0,0);
    -moz-transform:rotateX(90deg) translate3d(50px,0,0);
}
.ubl {
    -webkit-transform:rotateX(90deg) translate3d(50px,100px,0px);
    -moz-transform:rotateX(90deg) translate3d(50px,100px,0px);
}
.utc {
    -webkit-transform:rotateX(90deg) translate3d(150px,-100px,0);
    -moz-transform:rotateX(90deg) translate3d(150px,-100px,0);
}
.ucc {
    -webkit-transform:rotateX(90deg) translate3d(150px,0,0);
    -moz-transform:rotateX(90deg) translate3d(150px,0,0);
}
.ubc {
    -webkit-transform:rotateX(90deg) translate3d(150px,100px,0);
    -moz-transform:rotateX(90deg) translate3d(150px,100px,0);
}
.utr {
    -webkit-transform:rotateX(90deg) translate3d(250px,-100px,0);
    -moz-transform:rotateX(90deg) translate3d(250px,-100px,0);
}
.ucr {
    -webkit-transform:rotateX(90deg) translate3d(250px,0,0);
    -moz-transform:rotateX(90deg) translate3d(250px,0,0);
}
.ubr {
    -webkit-transform:rotateX(90deg) translate3d(250px,100px,0);
    -moz-transform:rotateX(90deg) translate3d(250px,100px,0);
}

/*FRONT FACE CUBIES*/
.ftl {
    -webkit-transform:translate3d(50px,50px,150px);
    -moz-transform:translate3d(50px,50px,150px);
}
.fcl {
    -webkit-transform:translate3d(50px,150px,150px);
    -moz-transform:translate3d(50px,150px,150px);

}
.fbl {
    -webkit-transform:translate3d(50px,250px,150px);
    -moz-transform:translate3d(50px,250px,150px);
}
.ftc {
    -webkit-transform:translate3d(150px,50px,150px);
    -moz-transform:translate3d(150px,50px,150px);
}
.fcc {
    -webkit-transform:translate3d(150px,150px,150px);
    -moz-transform:translate3d(150px,150px,150px);
}
.fbc {
    -webkit-transform:translate3d(150px,250px,150px);
    -moz-transform:translate3d(150px,250px,150px);
}
.ftr {
    -webkit-transform:translate3d(250px,50px,150px);
    -moz-transform:translate3d(250px,50px,150px);
}
.fcr {
    -webkit-transform:translate3d(250px,150px,150px);
    -moz-transform:translate3d(250px,150px,150px);
}
.fbr {
    -webkit-transform:translate3d(250px,250px,150px);
    -moz-transform:translate3d(250px,250px,150px);
}

/*DOWN FACE CUBIES*/
.dtl {
    -webkit-transform:rotateX(-90deg) translate3d(50px,-100px,300px);
    -moz-transform:rotateX(-90deg) translate3d(50px,-100px,300px);
}
.dcl {
    -webkit-transform:rotateX(-90deg) translate3d(50px,0,300px);
    -moz-transform:rotateX(-90deg) translate3d(50px,0,300px);
}
.dbl {
    -webkit-transform:rotateX(-90deg) translate3d(50px,100px,300px);
    -moz-transform:rotateX(-90deg) translate3d(50px,100px,300px);
}
.dtc {
    -webkit-transform:rotateX(-90deg) translate3d(150px,-100px,300px);
    -moz-transform:rotateX(-90deg) translate3d(150px,-100px,300px);
}
.dcc {
    -webkit-transform:rotateX(-90deg) translate3d(150px,0px,300px);
    -moz-transform:rotateX(-90deg) translate3d(150px,0px,300px);
}
.dbc {
    -webkit-transform:rotateX(-90deg) translate3d(150px,100px,300px);
    -moz-transform:rotateX(-90deg) translate3d(150px,100px,300px);
}
.dtr {
    -webkit-transform:rotateX(-90deg) translate3d(250px,-100px,300px);
    -moz-transform:rotateX(-90deg) translate3d(250px,-100px,300px);
}
.dcr {
    -webkit-transform:rotateX(-90deg) translate3d(250px,0px,300px);
    -moz-transform:rotateX(-90deg) translate3d(250px,0px,300px);
}
.dbr {
    -webkit-transform:rotateX(-90deg) translate3d(250px,100px,300px);
    -moz-transform:rotateX(-90deg) translate3d(250px,100px,300px);
}

/*BACK FACE CUBIES*/
.btl {
    -webkit-transform:rotateX(-180deg) translate3d(50px,-250px,150px);
    -moz-transform:rotateX(-180deg) translate3d(50px,-250px,150px);
}
.bcl {
    -webkit-transform:rotateX(-180deg) translate3d(50px,-150px,150px);
    -moz-transform:rotateX(-180deg) translate3d(50px,-150px,150px);
}
.bbl {
    -webkit-transform:rotateX(-180deg) translate3d(50px,-50px,150px);
    -moz-transform:rotateX(-180deg) translate3d(50px,-50px,150px);
}
.btc {
    -webkit-transform:rotateX(-180deg) translate3d(150px,-250px,150px);
    -moz-transform:rotateX(-180deg) translate3d(150px,-250px,150px);
}
.bcc {
    -webkit-transform:rotateX(-180deg) translate3d(150px,-150px,150px);
    -moz-transform:rotateX(-180deg) translate3d(150px,-150px,150px);
}
.bbc {
    -webkit-transform:rotateX(-180deg) translate3d(150px,-50px,150px);
    -moz-transform:rotateX(-180deg) translate3d(150px,-50px,150px);
}
.btr {
    -webkit-transform:rotateX(-180deg) translate3d(250px,-250px,150px);
    -moz-transform:rotateX(-180deg) translate3d(250px,-250px,150px);
}
.bcr {
    -webkit-transform:rotateX(-180deg) translate3d(250px,-150px,150px);
    -moz-transform:rotateX(-180deg) translate3d(250px,-150px,150px)

}
.bbr {
    -webkit-transform:rotateX(-180deg) translate3d(250px,-50px,150px);
    -moz-transform:rotateX(-180deg) translate3d(250px,-50px,150px);
}

/*LEFT FACE CUBIES*/
.ltl {
    -webkit-transform:rotateY(-90deg) translate3d(-100px,50px,0px);
    -moz-transform:rotateY(-90deg) translate3d(-100px,50px,0px);
}
.lcl {
    -webkit-transform:rotateY(-90deg) translate3d(-100px,150px,0px);
    -moz-transform:rotateY(-90deg) translate3d(-100px,150px,0px);
}
.lbl {
    -webkit-transform:rotateY(-90deg) translate3d(-100px,250px,0px);
    -moz-transform:rotateY(-90deg) translate3d(-100px,250px,0px);
}
.ltc {
    -webkit-transform:rotateY(-90deg) translate3d(0px,50px,0px);
    -moz-transform:rotateY(-90deg) translate3d(0px,50px,0px);
}
.lcc {
    -webkit-transform:rotateY(-90deg) translate3d(0px,150px,0px);
    -moz-transform:rotateY(-90deg) translate3d(0px,150px,0px);
}
.lbc {
    -webkit-transform:rotateY(-90deg) translate3d(0px,250px,0px);
    -moz-transform:rotateY(-90deg) translate3d(0px,250px,0px);
}
.ltr {
    -webkit-transform:rotateY(-90deg) translate3d(100px,50px,0px);
    -moz-transform:rotateY(-90deg) translate3d(100px,50px,0px);
}
.lcr {
    -webkit-transform:rotateY(-90deg) translate3d(100px,150px,0px);
    -moz-transform:rotateY(-90deg) translate3d(100px,150px,0px);
}
.lbr {
    -webkit-transform:rotateY(-90deg) translate3d(100px,250px,0px);
    -moz-transform:rotateY(-90deg) translate3d(100px,250px,0px);
}

/*RIGHT FACE CUBIES*/
.rtl {
    -webkit-transform:rotateY(90deg) translate3d(-100px,50px,300px);
    -moz-transform:rotateY(90deg) translate3d(-100px,50px,300px);
}
.rcl {
    -webkit-transform:rotateY(90deg) translate3d(-100px,150px,300px);
    -moz-transform:rotateY(90deg) translate3d(-100px,150px,300px);
}
.rbl {
    -webkit-transform:rotateY(90deg) translate3d(-100px,250px,300px);
    -moz-transform:rotateY(90deg) translate3d(-100px,250px,300px);
}
.rtc {
    -webkit-transform:rotateY(90deg) translate3d(0px,50px,300px);
    -moz-transform:rotateY(90deg) translate3d(0px,50px,300px);;
}
.rcc {
    -webkit-transform:rotateY(90deg) translate3d(0px,150px,300px);
    -moz-transform:rotateY(90deg) translate3d(0px,150px,300px);
}
.rbc {
    -webkit-transform:rotateY(90deg) translate3d(0px,250px,300px);
    -moz-transform:rotateY(90deg) translate3d(0px,250px,300px);
}
.rtr {
    -webkit-transform:rotateY(90deg) translate3d(100px,50px,300px);
    -moz-transform:rotateY(90deg) translate3d(100px,50px,300px);
}
.rcr {
    -webkit-transform:rotateY(90deg) translate3d(100px,150px,300px);
    -moz-transform:rotateY(90deg) translate3d(100px,150px,300px);
}
.rbr {
    -webkit-transform:rotateY(90deg) translate3d(100px,250px,300px);
    -moz-transform:rotateY(90deg) translate3d(100px,250px,300px);
}

/* #########################################################RWD響應式頁面################################################################ */
@media (max-width: 1106px) {
/* #########################################################上排列表################################################################ */
	.menu {
	/*隱藏選單開始*/
		max-height: 0px;
		overflow: hidden	;
	/*隱藏選單結束*/
		transition: max-height 2.3s;
		margin-top: 1px;
	/*絕對定位疊在網頁上*/
		position: absolute;
		z-index: 100;
	/*header 80px+1px boder 線條*/
		top: 81px;
		left: 0;
		right: 0;
		background: #0F222B;
	}
	.menu li{
		float: none;
		border-bottom: 1px dashed #69CA62;
	}
	.menu li a{
		transition: all 0.3s;
	}
	.menu li a:hover{
		background: #69CA62;
		color: #444;
	}
	.showmenu{
		display: block;
		float: right;
		margin: 1em;
	}
	/*jQ點擊後動態在 body 加上 class */
	.menu-show .menu{
		max-height: 500px
	}
/* #########################################################其他################################################################ */
	.typing-txt-block .container h1	{
		position: absolute;
		top: 25px;
		font-size:100%;
	}
	.typing-txt-block{
		position: relative;
		height: 45px;
	}

	svg {
		display: block;
		font: 10.5em 'Montserrat';
		width: 360px;
		height: 100px;
		margin: 0 auto;
	}
	h1 {
		margin: 10% auto;
	}
	.left {
		float: center;
	}
	.right {
		float: center;
	}
	hr.split {
		align: center;
	}
	
}


